<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>Document</title>
</head>
<body>
  <nav>
    <a href="/">Angular Crud</a>
  </nav>
  <div class="employees">
    <ul class="lista">
      <li *ngFor="let employee of employeeArray" (click)="forEdit(employee)" [class.active]="employee ==selectedEmployee">
      {{employee.id}} {{employee.name}} - {{employee.country}}
      </li>  
    </ul>
  </div>
  <div>
    <h1>Insert a new Employee</h1>
  </div>
  <div class="forms">
    <div>
      <input type="text" [(ngModel)]="selectedEmployee.name" placeholder="Enter Name">
    </div>
    <div>
        <input type="text" [(ngModel)]="selectedEmployee.country" placeholder="Enter Country">
    </div>
    <button (click)="addOrEdit()">
      Submit
    </button>
    <button class="borrar" *ngIf="selectedEmployee.id !==0" (click)="delete()">
      Delete
    </button>
  </div>
  
</body>
</html>